//- mixins

mixin tabsButton( index, title )
	//tabsButton
	li.tabs__btn-item
		button.tabs__btn( type="button" data-index=index )= title

//----------------------------------------------------------------

mixin paneItemBlog( metaText, iconClass  )
	li.tabs__list-item
		a.tabs__list-img-link( href="/" )
			img.tabs__list-img( src=require( '../img/post_image.jpg' ) )
		.tabs__list-info
			h2.tabs__list-header
				a.tabs__list-header-link( href="/" ) Hyipodrom.com - не просто TOP, а топовый во всём всего за год!
			.tabs__list-meta-info
				i( class=`${iconClass} tabs__list-meta-icon` )
				if ( paneItemBlogState === 'withLink' )
					a.tabs__list-meta-link( href='/' )= metaText
				if ( paneItemBlogState === 'withoutLink' )
					span.tabs__list-meta-text= metaText

//---------------------------------------------------------------

mixin paneItemHyip( imgSrc, title, metaText, prefix )
	li.paneItemHyip
		if paneHyipDead
			a.paneItemHyip__img-link.paneItemHyip__img-link--dead( href="/hyip.html" )
				img.paneItemHyip__img( src=imgSrc )
		else
			a.paneItemHyip__img-link( href="/hyip.html" )
				img.paneItemHyip__img( src=imgSrc )
		h2.paneItemHyip__header
			a.paneItemHyip__header-link( href="/hyip.html" )= title
		.paneItemHyip__meta-text
			if prefix
				p.paneItemHyip__meta-prefix= prefix
			p.paneItemHyip__meta-value
				if paneHyipIsRating
					i.fa.fa-star.paneItemHyip__rate-icon
					= metaText
				else
					= metaText

//---------------------------------------------------------------

//- tabs

if ( page === 'blog' )
	// tabs
	.tabs
		ul.tabs__btn-box
			+tabsButton( 1, 'Популярные' )
			+tabsButton( 2, 'Новые' )
			+tabsButton( 3, 'Комментируемые' )
		ul.tabs__pane-box
			li.tabs__pane-item( data-index=1 )
				ul.tabs__list
					- var paneItemBlogState = 'withoutLink';
					+paneItemBlog( '546 просмотров','fa fa-eye' )
					+paneItemBlog( '546 просмотров','fa fa-eye' )
					+paneItemBlog( '546 просмотров','fa fa-eye' )
					+paneItemBlog( '546 просмотров','fa fa-eye' )
					+paneItemBlog( '546 просмотров','fa fa-eye' )
			li.tabs__pane-item( data-index=2 )
				ul.tabs__list
					- var paneItemBlogState = 'withoutLink';
					+paneItemBlog( '21.11.2016', 'fa fa-calendar' )
					+paneItemBlog( '21.11.2016', 'fa fa-calendar' )
					+paneItemBlog( '21.11.2016', 'fa fa-calendar' )
					+paneItemBlog( '21.11.2016', 'fa fa-calendar' )
					+paneItemBlog( '21.11.2016', 'fa fa-calendar' )
			li.tabs__pane-item( data-index=3 )
				ul.tabs__list
					- var paneItemBlogState = 'withLink';
					+paneItemBlog( '146 комментариев', 'fa fa-comments' )
					+paneItemBlog( '146 комментариев', 'fa fa-comments' )
					+paneItemBlog( '146 комментариев', 'fa fa-comments' )
					+paneItemBlog( '146 комментариев', 'fa fa-comments' )
					+paneItemBlog( '146 комментариев', 'fa fa-comments' )

//-----------------------------------------------------------------------

if ( page === 'hyip' )
	// tabs
	.tabs
		ul.tabs__btn-box
			+tabsButton( 1, 'Рейтинг' )
			+tabsButton( 2, 'Новые' )
			+tabsButton( 3, 'Страховка' )
			+tabsButton( 4, 'Морг' )
		ul.tabs__pane-box
			li.tabs__pane-item( data-index=1 )
				ul.tabs__list
					- var paneHyipDead = false;
					- var paneHyipIsRating = true;
					+paneItemHyip( require( '../img/slider_1.jpg' ), 'MEETFREEMAN', '149' )
					+paneItemHyip( require( '../img/slider_1.jpg' ), 'MEETFREEMAN', '149' )
					+paneItemHyip( require( '../img/slider_1.jpg' ), 'MEETFREEMAN', '149' )
					+paneItemHyip( require( '../img/slider_1.jpg' ), 'MEETFREEMAN', '149' )
					+paneItemHyip( require( '../img/slider_1.jpg' ), 'MEETFREEMAN', '149' )
			li.tabs__pane-item( data-index=2 )
				ul.tabs__list
					- var paneHyipDead = false;
					- var paneHyipIsRating = false;
					+paneItemHyip( require( '../img/slider_2.jpg' ), 'BLUE2000', '1 день', 'работает' )
					+paneItemHyip( require( '../img/slider_2.jpg' ), 'BLUE2000', '2 дня', 'работает' )
					+paneItemHyip( require( '../img/slider_2.jpg' ), 'BLUE2000', '3 дня', 'работает' )
					+paneItemHyip( require( '../img/slider_2.jpg' ), 'BLUE2000', '4 дня', 'работает' )
					+paneItemHyip( require( '../img/slider_2.jpg' ), 'BLUE2000', '5 дней', 'работает' )
			li.tabs__pane-item( data-index=3 )
				ul.tabs__list
					- var paneHyipDead = false;
					- var paneHyipIsRating = false;
					+paneItemHyip( require( '../img/slider_3.jpg' ), 'BITCOIN WORLD', '3000$' )
					+paneItemHyip( require( '../img/slider_3.jpg' ), 'BITCOIN WORLD', '3000$' )
					+paneItemHyip( require( '../img/slider_3.jpg' ), 'BITCOIN WORLD', '3000$' )
					+paneItemHyip( require( '../img/slider_3.jpg' ), 'BITCOIN WORLD', '3000$' )
					+paneItemHyip( require( '../img/slider_3.jpg' ), 'BITCOIN WORLD', '3000$' )
			li.tabs__pane-item( data-index=4 )
				ul.tabs__list
					- var paneHyipDead = true;
					- var paneHyipIsRating = false;
					+paneItemHyip( require( '../img/slider_4.jpg' ), 'MEXEER', '1 день назад', 'умер' )
					+paneItemHyip( require( '../img/slider_4.jpg' ), 'MEXEER', '1 день назад', 'умер' )
					+paneItemHyip( require( '../img/slider_4.jpg' ), 'MEXEER', '1 день назад', 'умер' )
					+paneItemHyip( require( '../img/slider_4.jpg' ), 'MEXEER', '1 день назад', 'умер' )
					+paneItemHyip( require( '../img/slider_4.jpg' ), 'MEXEER', '1 день назад', 'умер' )